.addAnimal {
  width: 100%;

  &_form {
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 1% repeat(10, 1fr) 5%;
    grid-template-columns: 10% repeat(3, 1fr) 3% repeat(2, 1fr) 10%;
    gap: 20px;
    justify-items: stretch;

    &_buttons {
      grid-row: 2/3;
      grid-column: 2/4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      justify-items: stretch;
      align-items: stretch;

      .Button {
        width: auto !important;
      }

      .true{
        background-color: var(--orange-secondary);
      }
    }

    &_name {
      grid-row: 3/4;
      grid-column: 2/4;
    }

    &_age {
      grid-row: 4/5;
      grid-column: 2/4;
    }
    &_gender {
      align-items: center;
      display: flex;
      grid-row: 5/6;
      grid-column: 2/4;

      &_input {
        display: flex;
        align-items: center;
        margin-left: 30px;
        .MuiSwitch-colorSecondary {
          color: var(--orange-primary);
        }
        .MuiSwitch-colorSecondary + .MuiSwitch-track{
          background-color: var(--orange-secondary);
        }
        .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
          background-color: var(--orange-secondary);
        }
        .MuiSwitch-colorSecondary.Mui-checked {
          color: var(--orange-primary);
        }
      }
    }

    &_behavior {
      grid-row: 2/5;
      grid-column: 4/5;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;

      & > * {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        label {
          margin-right: 10px;
        }
      }
    }

    &_desc {
      grid-row: 6/8;
      grid-column: 2/5;

      &_textArea {
        border-color: var(--secondary);
        background-color: var(--secondary);
        height: 100px;
        width: 100%;
        max-height: 100px;
        max-width: 100%;
        padding: 10px;
      }
    }

    &_map {
      position: relative;
      grid-row: 8/11;
      grid-column: 2/5;
      background-color: #323F4B;

      .Input_text {
        width: 100%;
        height: 40px;

      }

      .searchResults {
        position: absolute;
        background-color: #f5f7fa;
        top: 41px;
        left: 0;
        right: 0;
        height: auto;
        max-height: 150px;
        overflow: scroll;

        .result_item {
          padding: 5px 20px;
          cursor: pointer;
        }
      }

      &_iframe {
        width: 100%;
        height: 100%;
      }
    }

    &_mainImage {
      grid-row: 2/7;
      grid-column: 6/8;
      background-color: var(--secondary);
      flex: auto;
      text-align: center;

      .imageIcon {
        height: 100%;
        width: 80%;
      }
    }

    .submit {
      grid-row: 11/12;
      grid-column: 4/7;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: center;
    }
  }
}
