.addAnimal {
  width: 100%;

  &_form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1% repeat(9, minmax(0, 1fr)) 1%;
    grid-template-columns: 10% repeat(3, 1fr) 3% repeat(2, 1fr) 10%;
    gap: 10px;
    justify-items: stretch;

    &_buttons {
      grid-row: 2/3;
      grid-column: 2/4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      justify-items: stretch;
      align-items: stretch;

      .Button {
        width: auto !important;
      }

      .active {
        background-color: var(--orange-secondary);
      }

      .disabled {
        background-color: var(--orange-transparent);
        cursor: unset;
      }
    }

    .breedWrapper {
      grid-row: 5/6;
      grid-column: 2/4;
    }


    .Input_wrapper {
      height: 100%;
      max-height: 50px;

      &_name {
        grid-row: 3/4;
        grid-column: 2/4;
      }

      &_age {
        grid-row: 4/5;
        grid-column: 2/4;
      }

      &_chip {
        grid-row: 6/7;
        grid-column: 2/4;
      }

      &_weight {
        grid-row: 9/10;
        grid-column: 2/4;
        display: flex;

        h4 {
          white-space: nowrap;
          width: 130px;
        }

        .MuiSlider-root {
          margin-left: 10px;
          width: 150px;
          color: var(--orange-primary);

          .MuiSlider-valueLabel {
            left: auto;
          }

          .MuiSlider-thumb {
            .MuiSlider-valueLabel {
              transform: scale(0.8) translateY(20px) rotate(180deg);

              [class*="PrivateValueLabel-circle"] {
                [class*="PrivateValueLabel-label"] {
                  transform: rotate(225deg);
                }
              }
            }
          }
        }
      }

      &_size {
        grid-row: 8/9;
        grid-column: 2/4;
        display: flex;
        flex-direction: row;
        align-items: center;

        .MuiFormGroup-root {
          display: flex;
          flex-direction: row;

          .MuiTypography-body1 {
            font-family: Montserrat;
          }

          .MuiFormControlLabel-root {
            margin-left: 5px;
            margin-right: 0;

            .MuiButtonBase-root {
              padding: 0;
            }

            .PrivateSwitchBase-root-1 {
              padding: 0;
            }

            .MuiFormControlLabel-label {
              margin-left: 5px;
            }
          }

          .MuiRadio-root {
            color: var(--orange-primary);
          }

          .MuiRadio-colorSecondary.Mui-checked {
            color: var(--orange-primary);
          }
        }
      }

    }

    &_gender {
      align-items: center;
      display: flex;
      justify-content: center;
      grid-row: 2/3;
      grid-column: 4/6;

      &_input {
        display: flex;
        align-items: center;

        .MuiSwitch-colorSecondary {
          color: var(--orange-primary);
        }

        .MuiSwitch-colorSecondary + .MuiSwitch-track {
          background-color: var(--orange-secondary);
        }

        .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
          background-color: var(--orange-secondary);
        }

        .MuiSwitch-colorSecondary.Mui-checked {
          color: var(--orange-primary);
        }
      }
    }

    &_behavior {
      grid-row: 3/7;
      grid-column: 4/6;
      max-width: 300px;
      min-width: 180px;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: stretch;
      justify-content: flex-start;

      & > * {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        label {
          margin-right: 10px;
        }
      }
    }

    &_imagesWrapper {
      grid-row: 2/8;
      grid-column: 6/8;
      display: flex;
      flex-direction: column;

      .mainImage {
        max-height: 30vh;
        background-color: var(--secondary);
        flex: auto;
        text-align: center;

        .imageIcon {
          height: 100%;
          width: 80%;
        }
      }

      .gallery {
        margin-top: 5px;
        max-height: 40vh;
        overflow: auto;
      }
    }

    &_map {
      position: relative;
      grid-row: 7/8;
      grid-column: 2/4;
      //background-color: #323F4B;

      .Input_text {
        width: 100%;
      }

      &_iframe {
        width: 100%;
        height: 100%;
      }
    }

    &_desc {
      grid-row: 8/10;
      grid-column: 4/8;
      margin-top: 5px;

      &_textArea {
        border-color: var(--secondary);
        background-color: var(--secondary);
        height: 100%;
        width: 100%;
        max-width: 100%;
        padding: 10px;
        resize: none;
        overflow: auto;
      }
    }

    .buttons {
      grid-row: 10/11;
      grid-column: 3/7;
      display: flex;
      justify-content: center;

      .Button {
        margin-right: 5px;
        height: 50px;
        font-size: 16px;
        text-align: center;
      }
    }

  }
}
@media only screen and (max-width: 700px) {
  .addAnimal {
    &_form {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      .Input_wrapper_weight {
        align-items: center;
        .MuiSlider-root {
          width: 100%;
          margin-left: 10px;
          margin-right: 10px;
        } 
        h4 {
          width: auto;
        }
      }
    }
  }
}