.messages {
  width: 100%;
  min-height: 500px;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 20%;
  grid-gap: 1px;
  grid-template-areas: "friends chat";

  .chatWrapper {
    grid-area: chat;
    background-color: var(--secondary);
    overflow: auto;
    padding: 20px;
    min-width: 300px;
  }

  .conversationsWrapper {
    grid-area: friends;
    overflow: hidden;
    background-color: var(--secondary);
    padding: 20px 0;
    min-width: 200px;

  }
}

