.animal_card {
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 15px 4px var(--primary-transparent); 
  box-shadow: 0px 0px 15px 4px var(--primary-transparent);
  padding: 10px;

  &_name {
    font-family: "Emblema One";
    font-size: 20px;
    text-align: center;
    height: 15%;
  }

  &_image {
    max-width: 100%;
    max-height: 70%;
    height: auto;
    width: auto;
    margin: auto;
  }

  &_info {
    display: flex;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    &_age {

    }

    &_dist {

    }
  }
  &_desc {
    height: 25%;
    font-size: 12px;
    * {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;    
      max-height: 70px;     
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      align-self: flex-start;
    }
  }
}
