.animal_card {
  position: relative;
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  height: 35vh;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 15px 4px var(--primary-transparent);
  box-shadow: 0px 0px 15px 4px var(--primary-transparent);
  padding: 10px;
  cursor: pointer;

  .placeholder {
    position: relative;
    .placeholder_text {
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
    }
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &_name {
    font-family: "Emblema One";
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .closeIcon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: var(--primary);
  }

  .imageIcon {
    width: 100%;
    height: 100%;
    color: var(--orange-transparent);
  }

  .small_card_content {
    display: flex;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }

  .large_card_content {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      * {
        display: flex;
        align-items: center;
      }

      h3 {
        margin-right: 5px;
      }

      .animal_card_info_age {

      }
    }
    .behavior {
      display: flex;
      margin-top: 10px;
      padding: 0 20px;

      h3 {
      }

      &_content {
        display: flex;

        &_item {
          margin-left: 10px;
        }
      }
    }
    .desc {
      padding: 0 20px;
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      .desc_text {
        margin-left: 20px;
      }
    }
    .buttons {
      margin: auto;
      .contact {
        width: fit-content;
      }
    }
  }

  &_desc {
    height: 25%;
    font-size: 12px;

    * {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;
      max-height: 70px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      align-self: flex-start;
    }
  }

  .gallery_wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 70%;
    height: auto;
    width: auto;
    margin: auto;

    .MuiCircularProgress-colorPrimary {
      color: var(--orange-primary);
    }

    .animal_card_image {
      height: auto;
      max-width: 100%;
    }

    .image-gallery {
      max-width: 100%;
      width: 100%;
      min-height: 300px;
      height: 100%;
      margin: auto;

      .image-gallery-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-gallery-slide-wrapper {
          max-height: 75%;
          width: 100%;
          flex-grow: 3;

          .image-gallery-swipe {
            height: 100%;

          }
            .image-gallery-slides {
              height: 100%;

              .image-gallery-slide {
                height: 100%;

                div {
                  height: 100%;

                  .image-gallery-image {
                    max-height: 100%;
                  }
                }

              }

          }

          .image-gallery-bullet:hover {
            background: var(--orange-transparent);
          }
          .image-gallery-bullet.active {
            background: var(--orange-transparent);
          }
        }

        .image-gallery-thumbnails-wrapper {
          flex-grow: 1;
          max-height: 25%;
          .image-gallery-thumbnails {
            height: 100%;

              .image-gallery-thumbnails-container {
                height: 100%;

                .image-gallery-thumbnail {
                  height: 100%;

                .image-gallery-thumbnail-inner {
                  height: 100%;

                  .image-gallery-thumbnail-image {
                    object-fit: contain;
                    max-height: 100%;
                  }
                }
              }
            }
          }
        }
      }

      .image-gallery-icon:hover {
        color: var(--orange-primary);
      }

      .image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
        border: 4px solid var(--orange-primary);
      }
    }
  }

}
