.profileInfo {
  display: flex;
  height: 100%;
  padding: inherit;
}

.profileInfo_info {
  margin-left: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p,
h3 {
  padding: 5px;
}

.large {
  width: 200px !important;
  height: 200px !important;
}

@media only screen and (max-width: 800px) {
  .profileInfo {
    margin-top: 50px;
  }
  .profileInfo_info {
    margin-left: 10px;
    height: 100px;
  }
  .large {
    width: 100px !important;
    height: 100px !important;
  }
}
@media only screen and (max-width: 600px) {
  .profileInfo {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .profileInfo {
    flex-direction: row;
  }
}
