.toolbar {
  color: var(--primary);
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  justify-content: space-between;

  * {
    background: transparent;
  }

  .collapsed_items {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    width: 55%;
    min-width: max-content;
    padding: 20px;
    height: calc(100vh - 80px);
    z-index: 1000000;
    background-image: linear-gradient(
                    to bottom,
                    var(--light-white),
                    var(--primary)
    );

    &_item {
      list-style: none;
      padding: 20px;

      &_text {
        font-size: larger;
        font-weight: 500;
      }
    }
  }

  .opened {
    display: block;
  }

  &_logo {
    width: 15%;
    height: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    align-items: center;
    cursor: pointer;
    justify-self: flex-start;
  }

  &_items {
    margin-left: 30px;
    margin-right: 30px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &_item {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 30px;
      margin-left: 10px;

      &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--primary);
        width: 100%;
        height: 100%;
        cursor: pointer;
        white-space: nowrap;

        &:hover,
        &.active {
          border-bottom: 2px solid var(--orange-secondary);
        }

        .language {
          .MuiInput-underline:hover:not(.Mui-disabled):before{
            border: 0;
          }
          .MuiInput-underline:after {
            border: 0;
          }
          .MuiInputBase-root {
            &:before {
              border: 0;
            }
            .MuiSelect-root {
              font-size: 12px;
              font-family: Montserrat, serif;
              padding: 0 20px 0 0;
              color: var(--primary);
            }
            .MuiSelect-icon {
              color: var(--orange-primary);
            }
          }
        }
      }

      &_home {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: "Emblema One", serif;
        font-size: x-large;
        color: var(--primary);
        width: 100%;
        height: 100%;
      }

      &_text {
        font-size: 12px;
        font-weight: 500;
        padding: 0 5px;

        @media only screen and (max-width: 600px) {
          font-size: 15px;
        }
      }

      &.bordered {
        p {
          font-family: "Emblema One", serif;
          color: var(--orange-primary);
        }
      }

    }
  }

  &_menuIcon {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .toolbar {
    &_items {
      &_item {
        margin-left: 5px;
        &_text {
          font-size: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .toolbar {
    &_items {
      display: none;
    }

    &_menuIcon {
      display: flex;
      width: 100%;
      pointer-events: all;
      cursor: pointer;

      &_icon {
        visibility: visible;
      }
    }

    &_logo {
      width: 100%;
    }
  }
}
.MuiPopover-root {
  .MuiPaper-root {
    .MuiButtonBase-root {
      font-size: 12px;
    }
  }
}
