.swipe {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: min-content auto 80px;
  grid-template-rows: minmax(400px, auto) 1fr 1fr;
  grid-template-areas: "filter swipe ." "filter buttons ." ". . .";

  .filter {
    grid-area: filter;
    align-self: center;
    height: 150px;
    width: 75px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;

    &_label {
      display: none;
    }

    &_icon {
      position: relative;
      width: 30px !important;
      height: 30px !important;
      margin-right: 10px;
      cursor: pointer;
    }

    &_obsah {
      opacity: 0;
      height: 0;
      transition: opacity 0s;

      h3 {
        margin-bottom: 5px;
      }

      .MuiTypography-body1 {
        font-size: 14px !important;
        margin-left: 5px;
      }

      .MuiFormControlLabel-root {
        margin-left: 0;
      }

      &_gender {

      }

      &_size {
        display: flex;
        flex-direction: column;
        .size_group {
          display: flex;
          flex-direction: row;
        }
      }
      &_age {
        padding-right: 10%;
        h3 {
          margin-bottom: 10px;
        }
        .MuiSlider-root {
          margin: -20px 50px 30px 10px;
          width: 100%;
        }
      }



      .MuiSlider-markLabel {
        display: none;
      }

      .PrivateValueLabel-thumb-5.PrivateValueLabel-open-6 .PrivateValueLabel-offset-7 {
        //transform: scale(0.8) translateY(25px);
      }

      .PrivateValueLabel-thumb-8.PrivateValueLabel-open-9 .PrivateValueLabel-offset-10 {
        transform: scale(0.8) translateY(55px);
      }

      .PrivateValueLabel-circle-8 {
        border-radius: 50%;
      }

      .PrivateSwitchBase-root-1 {
        padding: 0;
      }

      .PrivateValueLabel-circle-11 {
        transform: rotate(-225deg);
      }

      .PrivateValueLabel-label-12 {
        transform: rotate(225deg);
      }

      &_behavior {
        height: 125px;
      }
    }

    &_button {
      max-width: 50%;
      margin-top: 25px;
    }
  }

  .open {
    height: 650px;
    width: 325px;
    border-bottom-right-radius: 325px;
    border-top-right-radius: 325px;
    margin-top: -30px;

    .filter_icon {
      display: none;
    }

    .filter_obsah {
      height: auto;
      opacity: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 15px;
      padding-right: 25px;
      overflow: hidden;

      transition: opacity 0.5s ease;
      -webkit-transition: opacity 0.5s ease;
      -o-transition: opacity 0.5s ease;
      -moz-transition: opacity 0.5s ease;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.4s;
    }
  }

  .MuiCircularProgress-root {
    margin: auto;
    &.MuiCircularProgress-colorPrimary {
      color: var(--orange-primary);
    }
  }

  .swipe_animal_card_wrapper {
    grid-area: swipe;
    justify-self: center;
    .animal_card {
      width: 400px;
      height: 500px;
      position: relative;
    }
  }

  .buttons {
    grid-area: buttons;
    justify-self: center;
    align-self: start;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    * {
      margin: 0 10px;
      width: 100px;
    }
  }
}
