.login {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .buttons {
    display: flex;
    margin-bottom: 20px;

    .true {
      background-color: var(--orange-therciary);
    }
  }

  .Input_wrapper {
    margin-bottom: 20px;
  }

  .forgot_password {
    margin-top: 5px;
    font-size: 11px;
    color: var(--orange-secondary);
    cursor: pointer;
    text-decoration: underline;
  }

  .no_ic {
    margin-top: -15px;
    margin-bottom: 5px;
    font-size: 11px;
    color: var(--orange-secondary);
    cursor: pointer;
    text-decoration: underline;
  }

  .Button {
    margin: 5px;
  }

  .form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error_message {
    margin-top: -15px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .login {
    .form {
      width: 90%;
    }
  }
}