@import url("https://fonts.googleapis.com/css2?family=Emblema+One&family=Montserrat&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 1px;
  font-family: "Montserrat", serif;
  font-weight: 400;
  height: 100%;
}

@media only screen and (max-width: 1500px) {
  body {
    padding-top: 0;
  }
}
