@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Montserrat&display=swap');

.lighttheme {
  --primary: #1A1C20;
  --secondary: #F5F7FA;
  --grad-first: #F5F7FA;
  --grad-second: #B3B7C7;
  --primary-transparent: rgba(31, 41, 51, 0.2);
  --secondary-transparent: rgba(245, 247, 250, 0.2);
  --orange-primary: #F0A500;
  --orange-secondary: #CF7500;
  --orange-therciary: #ffc000;
  --orange-transparent: rgba(240, 165, 0, 0.33);
  --white: #f5f7fa;
}

.darktheme {
  --primary: #F5F7FA;
  --secondary: #1A1C20;
  --grad-first: #121415;
  --grad-second: #323F4B;
  --primary-transparent: rgba(245, 247, 250, 0.2);
  --secondary-transparent: rgba(31, 41, 51, 0.2);
  --orange-primary: #F0A500;
  --orange-secondary: #CF7500;
  --orange-therciary: #ffc000;
  --orange-transparent: rgba(240, 165, 0, 0.33);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height:100%; 
  overflow: hidden;
}

body {
  margin: 1px;
  font-family: 'Montserrat';
  font-weight: 400;
  position:absolute; top:0; bottom:0; right:0; left:0;
}

button {
    background-color: var(--orange-primary);
    border: none;
    text-transform: capitalize;
    font-size: 18px;
    padding: 5px;
    font-family: 'Montserrat';
    font-weight: 600;
}

@media only screen and (max-width: 1500px) {
  body {
    padding-top: 0;
  }
}

