@import "~react-image-gallery/styles/scss/image-gallery.scss";
.Button {
  appearance: none;
  background-color: var(--orange-primary);
  padding: 5px 20px;
  font-size: 20px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  text-transform: capitalize;

  &_light {
    color: var(--secondary);
  }

  &_dark {
    color: var(--primary);
  }

  &_small {
    font-size: 14px;
  }
  
  &_secondary {
    background-color: var(--grad-second);
  }
}

.Input {

  &_checkbox {
    color: var(--orange-primary) !important;
    border-radius: 3px !important;
    height: 15px !important;
    width: 15px !important;

    .checked {
      background-color: var(--orange-primary);
      border: var(--orange-secondary);
    }
  }

  &_text {
    border: none;
    padding: 5px 20px;
  }

  &.dialog_input {
    //border: 1px solid var(--orange-primary);
    padding: 5px 10px;
    width: 100%;
  }
}

.dialog {
  .dialog_success_message {
    margin-top: 15px;
    color: forestgreen;
  }
}

.error_message {
  margin-top: 5px;
  color: red;
  font-style: italic;
  font-size: 14px;
}
