@import "~react-image-gallery/styles/scss/image-gallery.scss";

.Button {
  appearance: none;
  background-color: var(--orange-primary);
  padding: 5px 20px;
  font-size: 20px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  text-transform: capitalize;

  &_light {
    color: var(--secondary);
  }

  &_dark {
    color: var(--primary);
  }

  &_small {
    font-size: 14px;
  }

  &_secondary {
    background-color: var(--grad-second);
  }
}

.Input {

  &_checkbox {
    color: var(--orange-primary) !important;
    border-radius: 3px !important;
    height: 15px !important;
    width: 15px !important;

    .checked {
      background-color: var(--orange-primary);
      border: var(--orange-secondary);
    }
  }

  &_text {
    border: none;
    padding: 5px 20px;
    background-color: var(--secondary);
  }

  &.dialog_input {
    //border: 1px solid var(--orange-primary);
    padding: 5px 10px;
    width: 100%;
  }

  &.error {
    border: 1px solid red;
  }
}

.autocomplete {
  position: relative;
  width: 100%;

  .searchResults {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: auto;
    max-height: 150px;
    overflow: scroll;
    background-color: var(--secondary);
    z-index: 1000;

    .result_item {
      margin-top: 5px;
      padding: 5px 20px;
      cursor: pointer;

      &:hover {
        background-color: var(--orange-transparent);
      }
    }
  }
}


.MuiDialog-container {
  .Input_wrapper {
    border: 1px solid lightgray;
    height: 40px;
  }
}

.Input_wrapper {
  position: relative;
  border: none;
  height: 50px;
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;

  .Input_label {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
  }

  .Input {
    border-left: 1px solid lightgray;
    padding: 5px 20px;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }
  input {
    border: 0;
  }

  .breeds {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    max-height: 100px;
    overflow: scroll;
  }

  &.error {
    border: 1px solid red;
  }
}

.dialog {
  .dialog_success_message {
    margin-top: 15px;
    color: forestgreen;
  }
}

.error_message {
  margin-top: 5px;
  color: red;
  font-style: italic;
  font-size: 14px;
}
