.BasicContacts {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: inherit;
}
@media only screen and (max-width: 1700px) {
  .BasicContacts {
    padding: initial;
    padding-top: inherit;
  }
}
@media only screen and (max-width: 800px) {
  .BasicContacts {
    flex-direction: column;
    justify-content: start;
  }
}
